{% extends "general/base.html" %}

{% block side_nav_links %}
	{% block links %}
		<li><a href="/simp" class="black-text">Simplifier</a></li>
		<li><a href="/users/account" class="black-text">Account</a></li>
		<li><a href="/users/logout" class="black-text">Logout</a></li>
		<li><a href="/contact" class="black-text">Contact Us</a></li>
	{% endblock %}
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block form %}
	<div class="row">
		<form id="change_password_form" class="col s12" method='POST' action=''> {% csrf_token %}
			<div class="col s12 l6 offset-l3">
				<div class="card-panel pink lighten-4 pink-text">
					<center>{{ form.non_field_errors }}</center>

					<h3>Change Password</h3>

					<div class="divider"></div>

					<div class="left-align">
						<div class="row section">
							<div class="input-field col l6 s10">
								{{ form.old_password.errors }}
								<i class="material-icons prefix">lock_outline</i>
								{{ form.old_password.label_tag }}
								{{ form.old_password }}
							</div>
						</div>

						<div class="divider"></div>

						<div class="row section">
							<div class="input-field col l6 s10">
								{{ form.new_password.errors }}
								<i class="material-icons prefix">vpn_key</i>
								{{ form.new_password.label_tag }}
								{{ form.new_password }}
							</div>
						</div>

						<div class="divider"></div>

						<div class="row section">
							<div class="input-field col l6 s10">
								{{ form.verify_new_password.errors }}
								<i class="material-icons prefix">vpn_key</i>
								{{ form.verify_new_password.label_tag }}
								{{ form.verify_new_password }}
							</div>
						</div>
					</div>

					<button class="btn waves-effect waves-light pink lighten-1" type="submit">Change
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}